
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
  display: block;
}
.woocommerce-page.woocommerce-account .dash__mobile {
  display: none;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account .dash__mobile {
    display: block;
  }
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account .content__mobile {
    display: block;
  }
}
.woocommerce-page.woocommerce-account .page-content {
  padding: 10px 0;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account .page-content {
    padding: 80px 0;
  }
}
.woocommerce-page.woocommerce-account label {
  font-size: 12px;
  font-weight: 500;
}
.woocommerce-page.woocommerce-account input {
  background-color: transparent;
  border: 1px solid #b9b0a2;
  padding: 10px;
}
.woocommerce-page.woocommerce-account button.button {
  background-color: #07282a;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 400;
  border-radius: 0;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #07282a;
  transition: all 0.2s linear;
}
.woocommerce-page.woocommerce-account button.button:hover {
  background-color: transparent;
  color: #07282a;
  transition: all 0.2s linear;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    width: 68%;
  }
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-content h2 {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  justify-content: center;
  margin: 20px 0 30px;
  color: #07282a;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-content h2 .icon {
  width: 15px;
  height: 15px;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-content h2 a.btn {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: 7.5%;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account .woocommerce-MyAccount-content h2 {
    display: none;
  }
}
.woocommerce-page.woocommerce-account .vip,
.woocommerce-page.woocommerce-account h1 {
  display: none;
}
.woocommerce-page.woocommerce-account .woocommerce h1 {
  display: block;
}
.woocommerce-page.woocommerce-account .underline a {
  color: #9d7436;
  text-decoration: underline;
}
.woocommerce-page.woocommerce-account .underline a:hover {
  color: #07282a;
}
.woocommerce-page.woocommerce-account .list {
  padding: 0;
}
.woocommerce-page.woocommerce-account .list li {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 5px 0;
  align-items: center;
}
.woocommerce-page.woocommerce-account .list li .border {
  border: 1px solid;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.woocommerce-page.woocommerce-account .list li .border .icon {
  width: 20px;
  height: 20px;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 30%;
  }
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  list-style: none;
  border-bottom: 1px solid #e1d8c8;
  padding: 20px 0;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  display: flex;
  align-items: self-start;
  gap: 20px;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
  text-decoration: none;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li a p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #b7a481;
}
.woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li.logout a {
  align-items: center;
}
.woocommerce-page.woocommerce-account.woocommerce-alterar-senha .woocommerce-MyAccount-navigation {
  display: none;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account.woocommerce-alterar-senha .woocommerce-MyAccount-navigation {
    display: block;
  }
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-MyAccount-navigation {
  display: none;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-MyAccount-navigation {
    display: block;
  }
}
.woocommerce-page.woocommerce-account.woocommerce-orders .content__mobile {
  display: block;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account.woocommerce-orders .content__mobile {
    width: 100%;
  }
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders ul li {
  list-style: none;
  border: 1px solid #e1d8c8;
  padding: 20px;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item {
  display: flex;
  justify-content: space-between;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .thumb {
  position: relative;
  width: 120px;
  height: 150px;
  object-fit: contain;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .thumb .number {
  position: absolute;
  bottom: 10px;
  background-color: #e1d8c8;
  width: 32px;
  text-align: center;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  left: -15px;
  color: #07282a;
  font-size: 12px;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .thumb img {
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .thumb img:nth-child(2) {
  display: block;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .orders__wrapper {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .orders__wrapper .price {
  font-weight: 600;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .orders__wrapper .label {
  display: block;
  font-size: 13px;
  font-weight: 400;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .orders__item .orders__wrapper .status {
  font-weight: 600;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .woocommerce-button {
  margin-top: 15px;
  background-color: #07282a;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 400;
  border-radius: 0;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #07282a;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce__orders .woocommerce-button:hover {
  background-color: transparent;
  color: #07282a;
}
.woocommerce-page.woocommerce-account.woocommerce-orders .woocommerce-pagination a.woocommerce-button {
  padding: 0;
  background-color: transparent;
  color: #07282a;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .woocommerce-MyAccount-navigation {
  display: none;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account.woocommerce-view-order .woocommerce-MyAccount-navigation {
    display: block;
  }
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order-number {
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 15px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order-date {
  padding-bottom: 15px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .product__list {
  border: 1px solid #e1d8c8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .product__list h3 {
  margin: 0;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product {
  display: flex;
  align-items: start;
  gap: 20px;
  border-bottom: 1px solid #e1d8c8;
  padding-bottom: 20px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__image {
  width: 80px;
  height: 100px;
  object-fit: cover;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__content {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  justify-content: space-between;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__content .wc-item-meta {
  padding: 0;
  font-size: 12px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__content .wc-item-meta li {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 5px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__content .wc-item-meta li p {
  margin: 0;
  line-height: inherit;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__flex {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 5px;
  font-size: 13px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__product .order__flex .price {
  font-weight: 600;
  font-size: 14px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order_item:last-child .order__product {
  border: 0;
  padding: 0;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__shippiment {
  border: 1px solid #e1d8c8;
  padding: 20px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__shippiment h3 {
  margin: 0;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order h2.wc-correios-tracking-title {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin-top: 30px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .wc-correios-tracking-description {
  display: none;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .wc-correios-tracking-list {
  padding: 0;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .wc-correios-tracking-list li {
  list-style: none;
  border: 1px solid #e1d8c8;
  padding: 15px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order-again a.button {
  width: 100%;
  text-align: center;
  background: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  padding: 15px;
  color: #fff;
  background-color: #07282a;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__resume {
  margin-top: 2em;
  border: 1px solid #e1d8c8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__resume h3 {
  margin: 0 0 10px;
}
.woocommerce-page.woocommerce-account.woocommerce-view-order .order__resume p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: inherit;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .woocommerce-MyAccount-navigation {
  display: none;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-account.woocommerce-edit-address .woocommerce-MyAccount-navigation {
    display: block;
  }
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .content__mobile {
  display: block;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .woocommerce__address {
  width: 100%;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .woocommerce-Addresses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .woocommerce-Addresses::before {
  display: none;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .woocommerce-Addresses .woocommerce__address:nth-child(even) {
  border-top: 2px solid #e1d8c8;
  padding-top: 20px;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address address {
  font-style: normal;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address .flex a {
  font-size: 13px;
  font-weight: 500;
}
.woocommerce-page.woocommerce-account.woocommerce-edit-address h3 {
  margin: 0;
  font-size: 15px;
}
.woocommerce-page.woocommerce-edit-account .woocommerce-MyAccount-navigation {
  display: none;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-edit-account .woocommerce-MyAccount-navigation {
    display: block;
  }
}
.woocommerce-page.woocommerce-edit-account .content__mobile {
  display: block;
}
@media (min-width: 960px) {
  .woocommerce-page.woocommerce-edit-account .content__mobile {
    width: 100%;
  }
}
.bar__benefits {
  background-color: #ede8e1;
  padding: 40px 0;
  color: #07282a;
  text-align: center;
  font-size: 13px;
}
.bar__benefits strong {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: 'Lora', sans-serif;
  margin-top: 15px;
  display: block;
}
.bar__benefits p {
  margin: 0;
  line-height: 20px;
}
.bar__benefits .slick-slider .slick-prev {
  left: 10px;
  z-index: 99;
}
.bar__benefits .slick-slider .slick-prev::before {
  content: ' ';
  background-image: url(../images/left.svg);
  width: 12px;
  height: 12px;
  background-size: 100%;
  display: block;
}
.bar__benefits .slick-slider .slick-next {
  right: 10px;
  z-index: 99;
}
.bar__benefits .slick-slider .slick-next::before {
  content: ' ';
  background-image: url(../images/left.svg);
  width: 12px;
  height: 12px;
  background-size: 100%;
  display: block;
  transform: rotateZ(180deg);
}
@media (min-width: 960px) {
  .bar__benefits .slick-slider .slick-slide {
    border-left: 1px solid #e1d8c8;
  }
  .bar__benefits .slick-slider .slick-slide:nth-child(1) {
    border-left: 1px solid transparent;
  }
}
.woocommerce-order-received .page-content {
  background-image: url(../images/thanks.webp);
  color: #99a5a6;
  padding: 150px 0;
  text-align: center;
}
.woocommerce-order-received .page-content .container {
  max-width: 700px;
}
.woocommerce-order-received .page-content h1 {
  font-family: 'Lora', sans-serif;
  color: #e1d8c8;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 25px;
}
.woocommerce-order-received .page-content h2 {
  font-weight: 400;
  color: #f5f2ed;
}
.woocommerce-order-received .vip,
.woocommerce-order-received .woocommerce-order-overview,
.woocommerce-order-received .woocommerce-order-details,
.woocommerce-order-received .woocommerce-customer-details {
  display: none;
}
.woocommerce .woocommerce-breadcrumb {
  padding: 0;
  display: flex;
  gap: 5px;
  font-size: 11px !important;
}
.woocommerce .woocommerce-breadcrumb li {
  list-style: none;
}
.woocommerce .woocommerce-breadcrumb::before,
.woocommerce .woocommerce-breadcrumb::after {
  display: none !important;
}
.woocommerce .single__product {
  padding: 20px 0;
}
.woocommerce .single__product .product {
  display: flex;
  flex-direction: column;
}
.woocommerce .single__product .summary.entry-summary {
  position: relative;
}
.woocommerce .single__product .summary.entry-summary .wlfmc-add-to-wishlist {
  position: absolute;
  top: 0;
  right: 0;
}
.woocommerce .single__product h1.product_title.entry-title {
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  color: #07282a;
  font-weight: 500;
  width: calc(100% - 50px);
}
.woocommerce .single__product .product_meta {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.woocommerce .single__product .woocommerce-product-details__short-description p {
  font-size: 13px;
  line-height: 21px;
}
.woocommerce .single__product .variations {
  margin: 0 !important;
}
.woocommerce .single__product .variations tr {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.woocommerce .single__product .variations .label label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
.woocommerce .single__product .variations .value select {
  width: 100%;
  background-color: #f5f2ed;
  border: 1px solid #e1d8c8;
  padding: 10px;
}
.woocommerce .single__product .price {
  font-weight: 600;
  font-size: 18px;
  color: #07282a;
}
.woocommerce .single__product .price.fswp_calc {
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  color: #07282a;
  margin-bottom: 15px;
}
.woocommerce .single__product .quantity input {
  border: 1px solid #e1d8c8;
  width: 100px;
  padding: 11px 10px;
  background-color: transparent;
}
.woocommerce .single__product button.single_add_to_cart_button.button {
  background-color: #07282a;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  font-size: 13px;
  width: calc(100% - 104px);
  padding: 12px;
  border: 1px solid #07282a;
  transition: all 0.2s linear;
}
.woocommerce .single__product button.single_add_to_cart_button.button.disabled {
  background-color: #c69e62;
  border: 1px solid #c69e62;
  transition: all 0.2s linear;
}
.woocommerce .single__product button.single_add_to_cart_button.button.disabled:hover {
  background-color: #c69e62;
  transition: all 0.2s linear;
}
.woocommerce .single__product button.single_add_to_cart_button.button:hover {
  color: #07282a;
  background-color: transparent;
  transition: all 0.2s linear;
}
.woocommerce .single__product .onsale {
  background-color: #07282a;
  color: #fff;
  width: 50px;
  height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-size: 12px;
  font-weight: 400;
  margin: 15px;
}
.woocommerce .single__product .woocommerce-tabs .tabs.wc-tabs {
  display: none;
}
.woocommerce .single__product .woocommerce-tabs .woocommerce-Tabs-panel {
  font-size: 14px;
  padding: 30px 0  10px !important;
}
.woocommerce .single__product .woocommerce-tabs .woocommerce-Tabs-panel h2 {
  color: #07282a;
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.woocommerce .single__product .related.products,
.woocommerce .single__product .up-sells.upsells {
  border-top: 1px solid #e1d8c8;
  padding: 30px 0 10px;
}
.woocommerce .single__product .related.products h2,
.woocommerce .single__product .up-sells.upsells h2,
.woocommerce .single__product .related.products h3,
.woocommerce .single__product .up-sells.upsells h3 {
  color: #07282a;
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.woocommerce .single__product .related.products ul.products li.product,
.woocommerce .single__product .up-sells.upsells ul.products li.product {
  position: relative;
}
.woocommerce .single__product .related.products ul.products li.product h2,
.woocommerce .single__product .up-sells.upsells ul.products li.product h2 {
  font-family: 'Inter', sans-serif;
  color: #958b7b;
  font-size: 13px;
  max-width: calc(100% - 45px);
}
.woocommerce .single__product .related.products ul.products li.product .wlfmc-add-to-wishlist,
.woocommerce .single__product .up-sells.upsells ul.products li.product .wlfmc-add-to-wishlist {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.woocommerce .single__product .related.products ul.products li.product .wlfmc-add-to-wishlist .wlfmc-icon-heart::before,
.woocommerce .single__product .up-sells.upsells ul.products li.product .wlfmc-add-to-wishlist .wlfmc-icon-heart::before {
  content: ' ';
  background-image: url(images/heart.svg);
  height: 18px;
  display: block;
  width: 18px;
  background-size: 100%;
}
.woocommerce .single__product .related.products ul.products li.product .onsale,
.woocommerce .single__product .up-sells.upsells ul.products li.product .onsale {
  background-color: #07282a;
  color: #fff;
  width: 50px;
  height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-size: 12px;
  font-weight: 400;
  margin: 10px;
}
.woocommerce .single__product .related.products ul.products li.product .price,
.woocommerce .single__product .up-sells.upsells ul.products li.product .price {
  color: #07282a;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  line-height: initial;
}
.woocommerce .single__product .related.products ul.products li.product .add_to_cart_button,
.woocommerce .single__product .up-sells.upsells ul.products li.product .add_to_cart_button {
  background-color: #07282a;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #07282a;
  margin-top: 10px;
}
.woocommerce .single__product .related.products ul.products li.product .add_to_cart_button:hover,
.woocommerce .single__product .up-sells.upsells ul.products li.product .add_to_cart_button:hover {
  background-color: transparent;
  color: #07282a;
}
.woocommerce .single__product .related.products ul.products li.product .cwg_popup_submit,
.woocommerce .single__product .up-sells.upsells ul.products li.product .cwg_popup_submit {
  background-color: #c69e62;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #c69e62;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.woocommerce .single__product .related.products ul.products li.product .cwg_popup_submit:hover,
.woocommerce .single__product .up-sells.upsells ul.products li.product .cwg_popup_submit:hover {
  background-color: transparent;
  color: #c69e62;
  transition: all 0.2s linear;
}
.woocommerce .woocommerce-ordering select {
  border: 0;
  padding: 6px;
  background: #ebe7e1;
}
.products__list {
  padding: 30px 0 15px;
  border-bottom: 1px solid #e1d8c8;
}
.products__list h1 {
  color: #07282a;
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.products__list h2 {
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  color: #07282a;
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 500;
}
.products__list a.link {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  text-align: center;
  font-size: 14px;
}
.products__list .woocommerce ul.products li.product {
  position: relative;
}
.products__list .woocommerce ul.products li.product h2 {
  font-family: 'Inter', sans-serif;
  color: #958b7b;
  font-size: 13px;
  max-width: calc(100% - 45px);
}
.products__list .woocommerce ul.products li.product .wlfmc-add-to-wishlist {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.products__list .woocommerce ul.products li.product .wlfmc-add-to-wishlist .wlfmc-icon-heart::before {
  content: ' ';
  background-image: url(../images/heart.svg);
  height: 18px;
  display: block;
  width: 18px;
  background-size: 100%;
}
.products__list .woocommerce ul.products li.product .onsale {
  background-color: #07282a;
  color: #fff;
  width: 50px;
  height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-size: 12px;
  font-weight: 400;
  margin: 10px;
}
.products__list .woocommerce ul.products li.product .price {
  color: #07282a;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  line-height: initial;
}
.products__list .woocommerce ul.products li.product .add_to_cart_button {
  background-color: #07282a;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #07282a;
  margin-top: 10px;
}
.products__list .woocommerce ul.products li.product .add_to_cart_button:hover {
  background-color: transparent;
  color: #07282a;
}
.products__list .woocommerce ul.products li.product .cwg_popup_submit {
  background-color: #c69e62;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #c69e62;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.products__list .woocommerce ul.products li.product .cwg_popup_submit:hover {
  background-color: transparent;
  color: #c69e62;
  transition: all 0.2s linear;
}
.products__list .woocommerce-pagination ul.page-numbers {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.products__list .woocommerce-pagination ul.page-numbers li {
  list-style: none;
  margin: 0;
  border: 0;
}
.products__list .woocommerce-pagination ul.page-numbers li span.current {
  background-color: #07282a;
  color: #fff;
  padding: 6px 10px;
}
.products__list .woocommerce-pagination ul.page-numbers li a {
  border: 1px solid #e1d8c8;
  color: #c69e62;
  padding: 5px 10px;
}
.products__list .woocommerce-pagination ul.page-numbers li a:hover {
  background-color: #e1d8c8;
  color: #fff;
}
.products__list .filter {
  border-bottom: 1px solid #e1d8c8;
  padding: 40px 0;
  margin-bottom: 60px;
}
.products__list .filter .title {
  background-color: #07282a;
  color: #fff;
  padding: 5px 10px;
  display: inline;
}
.products__list .category__information {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media (min-width: 960px) {
  .products__list .category__information {
    flex-direction: row;
    gap: 80px;
  }
}
.products__list .category__information .text {
  width: 100%;
  font-size: 14px;
}
@media (min-width: 960px) {
  .products__list .category__information .text {
    width: calc(100% - 680px);
  }
}
.products__list .category__information .image__destaq {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (min-width: 960px) {
  .products__list .category__information .image__destaq {
    width: 600px;
  }
}
.products__list .category__information .image__destaq img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.archive .products__list {
  border: 0;
}
.woocommerce-cart h1 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  color: #07282a;
}
.woocommerce-cart .cart {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: self-start;
}
@media (min-width: 960px) {
  .woocommerce-cart .cart {
    flex-direction: row;
    gap: 50px;
  }
}
.woocommerce-cart .cart .cart-collaterals {
  width: 100%;
  background-color: #ede8e1;
  padding: 25px;
}
@media (min-width: 960px) {
  .woocommerce-cart .cart .cart-collaterals {
    width: 400px;
  }
}
.woocommerce-cart .cart .cart-collaterals tr th,
.woocommerce-cart .cart .cart-collaterals tr td {
  border-top: 1px solid #e1d8c8 !important;
}
.woocommerce-cart .cart .cart-collaterals tr.cart-discount th,
.woocommerce-cart .cart .cart-collaterals tr.cart-discount td {
  border-top: 0 !important;
}
.woocommerce-cart .cart .cart-collaterals .cross-sells {
  display: none;
}
.woocommerce-cart .cart .cart-collaterals .cart_totals {
  width: 100%;
}
.woocommerce-cart .cart .cart-collaterals .cart_totals:nth-child(3) {
  display: none;
}
.woocommerce-cart .cart .cart-collaterals .shop_table {
  border: 0;
}
.woocommerce-cart .cart .cart-collaterals .coupon {
  padding-bottom: 10px;
}
.woocommerce-cart .cart .cart-collaterals .coupon .flex {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}
.woocommerce-cart .cart .cart-collaterals .coupon .flex input {
  width: calc(100% - 95px);
  background-color: transparent;
  border: 1px solid #c69e62;
  padding: 5px;
}
.woocommerce-cart .cart .cart-collaterals .coupon .flex button {
  background-color: #c69e62;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 0.5px;
  padding: 10px 0;
  width: 90px;
  transition: all 0.2s linear;
  color: #fff;
  border: 1px solid #c69e62;
}
.woocommerce-cart .cart .cart-collaterals .wc-proceed-to-checkout {
  padding: 10px 0 0;
}
.woocommerce-cart .cart .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
  background-color: #07282a;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 0.5px;
  padding: 15px;
  transition: all 0.2s linear;
  line-height: 22px;
  border: 1px solid #07282a;
  margin: 0;
}
.woocommerce-cart .cart .cart-collaterals .wc-proceed-to-checkout a.checkout-button:hover {
  background-color: transparent;
  color: #07282a;
}
.woocommerce-cart .cart .cart__products {
  width: 100%;
}
@media (min-width: 960px) {
  .woocommerce-cart .cart .cart__products {
    width: calc(100% - 450px);
  }
}
.woocommerce-cart .cart .cart__products .cart_item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e1d8c8;
  padding: 15px 0;
}
.woocommerce-cart .cart .cart__products .cart_item .product-thumbnail {
  width: 105px;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .variation {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0 0;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .variation dt {
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .variation dd {
  margin: 0;
  font-size: 12px;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .variation dd p {
  margin: 0;
  line-height: inherit;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .flex {
  display: flex;
  justify-content: space-between;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .flex .quantity input.qty {
  background-color: transparent;
  border: 1px solid #e1d8c8;
  padding: 5px;
}
.woocommerce-cart .cart .cart__products .cart_item .product__meta .product-remove a {
  font-size: 12px;
  text-decoration: underline;
}
.woocommerce-cart .cart .cart__products .cart_totals {
  display: none;
}
.woocommerce-cart .cart .cart__upsells {
  padding-top: 25px;
}
.woocommerce-cart .cart .cart__upsells h2 {
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
  color: #07282a;
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 500;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product {
  position: relative;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product h2 {
  font-family: 'Inter', sans-serif;
  color: #958b7b;
  font-size: 13px;
  max-width: calc(100% - 45px);
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .wlfmc-add-to-wishlist {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .wlfmc-add-to-wishlist .wlfmc-icon-heart::before {
  content: ' ';
  background-image: url(images/heart.svg);
  height: 18px;
  display: block;
  width: 18px;
  background-size: 100%;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .onsale {
  background-color: #07282a;
  color: #fff;
  width: 50px;
  height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-size: 12px;
  font-weight: 400;
  margin: 10px;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .price {
  color: #07282a;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  line-height: initial;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .add_to_cart_button {
  background-color: #07282a;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #07282a;
  margin-top: 10px;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .add_to_cart_button:hover {
  background-color: transparent;
  color: #07282a;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .cwg_popup_submit {
  background-color: #c69e62;
  color: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid #c69e62;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.woocommerce-cart .cart .cart__upsells ul.products li.product .cwg_popup_submit:hover {
  background-color: transparent;
  color: #c69e62;
  transition: all 0.2s linear;
}
.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment#payment {
  border-radius: 0;
  background-color: #ede8e1;
}
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
  background-color: transparent;
  color: #07282a;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.woocommerce-page .woocommerce-error::before,
.woocommerce-page .woocommerce-info::before,
.woocommerce-page .woocommerce-message::before,
.woocommerce-page .woocommerce-error::after,
.woocommerce-page .woocommerce-info::after,
.woocommerce-page .woocommerce-message::after {
  display: none;
}
.woocommerce-page .woocommerce-error {
  color: #aa2e31;
}
.woocommerce-page .woocommerce a.button,
.woocommerce-page .woocommerce button.button {
  background-color: #07282a;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s linear;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 0;
  padding: 10px 20px;
  border: 1px solid #07282a;
}
.woocommerce-page .woocommerce a.button:hover,
.woocommerce-page .woocommerce button.button:hover {
  background-color: transparent;
  color: #07282a;
}
body.page-template-semijoias header,
body.woocommerce-page header {
  padding: 0 0 20px;
}
body.page-template-semijoias header .main-menu .site__menu,
body.woocommerce-page header .main-menu .site__menu {
  display: none;
}
body.page-template-semijoias header .main-menu .shop__menu,
body.woocommerce-page header .main-menu .shop__menu {
  display: block;
}
body.page-template-semijoias header .bar__destaq,
body.woocommerce-page header .bar__destaq {
  display: block;
}
body.page-template-semijoias footer .site__footer,
body.woocommerce-page footer .site__footer {
  display: none;
}
body.page-template-semijoias footer .shop__footer,
body.woocommerce-page footer .shop__footer {
  display: block;
}
body.page-template-semijoias .page-content,
body.woocommerce-page .page-content {
  padding: 60px 0;
}
body.page-template-semijoias .page-content .main-image,
body.woocommerce-page .page-content .main-image {
  display: none;
}